*{
  margin: 0;
}
.button1{
  margin: 0 auto;
  padding: 8px 25px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  background-color: gray;
  outline: none;
  box-shadow: 0 0 5px lightgrey;
}
.button1:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}
.nav-bar{
  background-color: rgb(206, 206, 206);
  height: 50px;
}
.nav-bar button {
  color: black;
  border: none;
  background: none;
  font-size: 20px;
  margin-right: 20px;
  margin-top: 13px;
  margin-left: 10px;
  font-weight: 600;
  outline: none;
}
.nav-bar button:hover{
  color: white;
}



